# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Tic-Tac-Toe (Java)/*
!/Simple Tic-Tac-Toe (Java)/task/
/Simple Tic-Tac-Toe (Java)/task/*
!/Simple Tic-Tac-Toe (Java)/task/src
